 img{
    width: 100px;
    height: 100px;

} 
/* class */
button{
    width:100px;
    height:100px;
    border: 2px dashed red;
}
.fawaz{
    border: 2px dashed green;
}
.wajih{
    border-radius: 50%;
}
.rony{
    background-color: gray;
}